/*
Kevin Pham
Provides style and layout for the MTM Tracker, including for cards with several
different colors.
*/

@import url('https://fonts.googleapis.com/css?family=Beth+Ellen|Red+Hat+Display|Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap');


body {
  font-family: 'Red Hat Display', sans-serif;
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: #94ffbf;
  background: linear-gradient(180deg, #0D42FF 0%, #67BFFF 100%);
}

header {
  background: radial-gradient(100% 100% at 50.04% 100%, #FAFF00 0%, #FAFF00 17.19%, #75FFE6 46.87%, #2DCBE3 90.63%, #4CB8F4 100%);
  margin: 0;
  padding: 0;
  height: auto;
}

h1 {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-size: 50pt;
  text-shadow: 5px 3px #AAAAAA, -5px -3px #444444;
}

#card-container {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 10px;
  width: 100%;
  height: auto;
  flex-direction: column;
}

#modal {
  position: fixed;
  z-index: 1;
  padding: 10px;
  left: 5vw;
  top: 10vh;
  width: 90vw;
  height: 80vh;
  overflow: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px rgba(200,200,200,.25);
}

#close {
  background-color: black;
  color: white;
  font-weight: 500;
  padding: 5px;
  position: relative;
  left: 15px;
  top: 10px;
  cursor: pointer;
  font-size: 30pt;
}

#close:hover {
  background-color: rgb(50,50,50);
}

#sold-badge {
  width: 7vw;
  background-color: red;
  color: white;
  font-weight: 500;
  padding: 5px;
  position: relative;
  left: 60vw;
  top: 10px;
  font-size: 30pt;
  display: none;
}

#modal-name {
  font-size: 80pt;
  text-align: center;
}

#modal-img {
  display: block;
  margin: auto;
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
}

#modal-description {
  font-size: 30pt;
}

#modal-bids h3 {
  font-size: 70pt;
  text-shadow: 0 0 20px white;
}

.bid {
  display: flex;
  justify-content: space-around;
}

#bid1 {
  font-size: 60pt;
  font-weight: 600;
}

#bid2, #bid3 {
  font-size: 40pt;
}

#loading {
  position: fixed;
  left: 15vw;
  right: 15vw;
  top: 40vh;
  width: 70vw;
  margin: auto;
}

footer {
  background-color: #878787;
  height: auto;
  padding: 5px;
  margin: 0;
}

footer p {
  font-size: 16pt;
  text-align: center;
}

/*==========Scrollbar==========*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #0047FF 0%, #00FFE0 46.87%, #33FF00 99.99%, rgba(0, 255, 224, 0) 100%);
  border-radius: 5px;
}

/*==========For use with JavaScript==========*/

.card {
  position: relative;
  width: 80%;
  height: auto;
  padding: 10px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px 5px;
  margin-bottom: 20px;
}

.card:nth-child(odd) {
  margin-left: 5%;
}

.card:nth-child(even) {
  margin-left: 10%;
}

.id {
  width: 36pt;
  height: 36pt;
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
  line-height: 36pt;
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 0 2px white;
  padding: auto;
}

.card img {
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  box-shadow: 0 0 0 3px white;
  margin: 10px 0;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
}

.name, .price {
  display: block;
  font-weight: bold;
}

.name {
  font-size: 20pt;
}

.price {
  font-size: 40pt;
}

/*==========Colors==========*/

.color1 {
  box-shadow: 10px 10px #001AFF;
  background-color: #4FAAFF;
}

.color1 .id, .color1 img {
  border: solid 4px #4FAAFF;
}

.color1-modal {
  background: linear-gradient(147.33deg, #0066FF 0%, rgba(132, 196, 255, 0.619718) 38.09%, rgba(28, 255, 241, 0) 57.7%);
}

.color2 {
  box-shadow: 10px 10px #EC7676;
  background-color: #FFA8A8;
}

.color2 .id, .color2 img {
  border: solid 4px #FFA8A8;
}

.color2-modal {
  background: linear-gradient(147.33deg, #FF6565 0%, rgba(255, 198, 132, 0.619718) 26%, rgba(255, 246, 28, 0) 57.7%);
}

.sold {
  background: gray;
  box-shadow: 10px 10px black;
}

.sold img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.sold .id, .sold img {
  border: solid 4px black;
}

.sold-modal {
  background: linear-gradient(180deg, #5C5C5C 0%, rgba(255, 111, 111, 0.37) 100%);
}

.sold-modal #sold-badge {
  display: inline;
}

.super-silent, .super-silent-modal {
  background: linear-gradient(127.41deg, #FFB800 8.91%, #FFD850 23.4%, #FFD850 33.93%, #E4B200 62.47%, #D9A900 93.2%);
  box-shadow: 10px 10px #C99900;
}

.super-silent img {
  border: solid 4px rgba(255, 255, 255, 0);
}

.super-silent .id {
  border: solid 4px #FFB800;
}

.hidden {
  display: none;
}

/*==========Background==========*/


.bubble {
  background-color: rgba(255, 255, 255, 0.4);
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
}
.bubble-1 {
  opacity: 0.55;
  left: 74vw;
  top: 64vh;
  animation: move-1 30.02s infinite;
  -moz-transform: translate(0, 0) scale(1.42);
  -ms-transform: translate(0, 0) scale(1.42);
  -webkit-transform: translate(0, 0) scale(1.42);
  transform: translate(0, 0) scale(1.42);
}
.bubble-2 {
  opacity: 0.9;
  left: 86vw;
  top: 60vh;
  animation: move-2 30.04s infinite;
  -moz-transform: translate(0, 0) scale(0.95);
  -ms-transform: translate(0, 0) scale(0.95);
  -webkit-transform: translate(0, 0) scale(0.95);
  transform: translate(0, 0) scale(0.95);
}
.bubble-3 {
  opacity: 0.6;
  left: 64vw;
  top: 43vh;
  animation: move-3 30.06s infinite;
  -moz-transform: translate(0, 0) scale(1.99);
  -ms-transform: translate(0, 0) scale(1.99);
  -webkit-transform: translate(0, 0) scale(1.99);
  transform: translate(0, 0) scale(1.99);
}
.bubble-4 {
  opacity: 0.43;
  left: 65vw;
  top: 49vh;
  animation: move-4 30.08s infinite;
  -moz-transform: translate(0, 0) scale(0.08);
  -ms-transform: translate(0, 0) scale(0.08);
  -webkit-transform: translate(0, 0) scale(0.08);
  transform: translate(0, 0) scale(0.08);
}
.bubble-5 {
  opacity: 0.02;
  left: 87vw;
  top: 62vh;
  animation: move-5 30.1s infinite;
  -moz-transform: translate(0, 0) scale(0.91);
  -ms-transform: translate(0, 0) scale(0.91);
  -webkit-transform: translate(0, 0) scale(0.91);
  transform: translate(0, 0) scale(0.91);
}
.bubble-6 {
  opacity: 0.19;
  left: 65vw;
  top: 89vh;
  animation: move-6 30.12s infinite;
  -moz-transform: translate(0, 0) scale(1.76);
  -ms-transform: translate(0, 0) scale(1.76);
  -webkit-transform: translate(0, 0) scale(1.76);
  transform: translate(0, 0) scale(1.76);
}
.bubble-7 {
  opacity: 0.48;
  left: 62vw;
  top: 65vh;
  animation: move-7 30.14s infinite;
  -moz-transform: translate(0, 0) scale(1.96);
  -ms-transform: translate(0, 0) scale(1.96);
  -webkit-transform: translate(0, 0) scale(1.96);
  transform: translate(0, 0) scale(1.96);
}
.bubble-8 {
  opacity: 0.06;
  left: 80vw;
  top: 62vh;
  animation: move-8 30.16s infinite;
  -moz-transform: translate(0, 0) scale(1.24);
  -ms-transform: translate(0, 0) scale(1.24);
  -webkit-transform: translate(0, 0) scale(1.24);
  transform: translate(0, 0) scale(1.24);
}
.bubble-9 {
  opacity: 0.82;
  left: 80vw;
  top: 58vh;
  animation: move-9 30.18s infinite;
  -moz-transform: translate(0, 0) scale(1.68);
  -ms-transform: translate(0, 0) scale(1.68);
  -webkit-transform: translate(0, 0) scale(1.68);
  transform: translate(0, 0) scale(1.68);
}
.bubble-10 {
  opacity: 0.09;
  left: 3vw;
  top: 74vh;
  animation: move-10 30.2s infinite;
  -moz-transform: translate(0, 0) scale(2.05);
  -ms-transform: translate(0, 0) scale(2.05);
  -webkit-transform: translate(0, 0) scale(2.05);
  transform: translate(0, 0) scale(2.05);
}
.bubble-11 {
  opacity: 0.57;
  left: 54vw;
  top: 41vh;
  animation: move-11 30.22s infinite;
  -moz-transform: translate(0, 0) scale(1.1);
  -ms-transform: translate(0, 0) scale(1.1);
  -webkit-transform: translate(0, 0) scale(1.1);
  transform: translate(0, 0) scale(1.1);
}
.bubble-12 {
  opacity: 0.65;
  left: 10vw;
  top: 21vh;
  animation: move-12 30.24s infinite;
  -moz-transform: translate(0, 0) scale(0.68);
  -ms-transform: translate(0, 0) scale(0.68);
  -webkit-transform: translate(0, 0) scale(0.68);
  transform: translate(0, 0) scale(0.68);
}
.bubble-13 {
  opacity: 0.62;
  left: 98vw;
  top: 2vh;
  animation: move-13 30.26s infinite;
  -moz-transform: translate(0, 0) scale(2.04);
  -ms-transform: translate(0, 0) scale(2.04);
  -webkit-transform: translate(0, 0) scale(2.04);
  transform: translate(0, 0) scale(2.04);
}
.bubble-14 {
  opacity: 0.81;
  left: 20vw;
  top: 89vh;
  animation: move-14 30.28s infinite;
  -moz-transform: translate(0, 0) scale(0.44);
  -ms-transform: translate(0, 0) scale(0.44);
  -webkit-transform: translate(0, 0) scale(0.44);
  transform: translate(0, 0) scale(0.44);
}
.bubble-15 {
  opacity: 0.49;
  left: 87vw;
  top: 58vh;
  animation: move-15 30.3s infinite;
  -moz-transform: translate(0, 0) scale(0.27);
  -ms-transform: translate(0, 0) scale(0.27);
  -webkit-transform: translate(0, 0) scale(0.27);
  transform: translate(0, 0) scale(0.27);
}
.bubble-16 {
  opacity: 0.79;
  left: 6vw;
  top: 18vh;
  animation: move-16 30.32s infinite;
  -moz-transform: translate(0, 0) scale(1.18);
  -ms-transform: translate(0, 0) scale(1.18);
  -webkit-transform: translate(0, 0) scale(1.18);
  transform: translate(0, 0) scale(1.18);
}
.bubble-17 {
  opacity: 0.87;
  left: 31vw;
  top: 16vh;
  animation: move-17 30.34s infinite;
  -moz-transform: translate(0, 0) scale(0.08);
  -ms-transform: translate(0, 0) scale(0.08);
  -webkit-transform: translate(0, 0) scale(0.08);
  transform: translate(0, 0) scale(0.08);
}
.bubble-18 {
  opacity: 1;
  left: 27vw;
  top: 66vh;
  animation: move-18 30.36s infinite;
  -moz-transform: translate(0, 0) scale(0.78);
  -ms-transform: translate(0, 0) scale(0.78);
  -webkit-transform: translate(0, 0) scale(0.78);
  transform: translate(0, 0) scale(0.78);
}
.bubble-19 {
  opacity: 0.47;
  left: 11vw;
  top: 42vh;
  animation: move-19 30.38s infinite;
  -moz-transform: translate(0, 0) scale(1.44);
  -ms-transform: translate(0, 0) scale(1.44);
  -webkit-transform: translate(0, 0) scale(1.44);
  transform: translate(0, 0) scale(1.44);
}
.bubble-20 {
  opacity: 0.07;
  left: 25vw;
  top: 91vh;
  animation: move-20 30.4s infinite;
  -moz-transform: translate(0, 0) scale(1.24);
  -ms-transform: translate(0, 0) scale(1.24);
  -webkit-transform: translate(0, 0) scale(1.24);
  transform: translate(0, 0) scale(1.24);
}
.bubble-21 {
  opacity: 0.93;
  left: 70vw;
  top: 99vh;
  animation: move-21 30.42s infinite;
  -moz-transform: translate(0, 0) scale(0.85);
  -ms-transform: translate(0, 0) scale(0.85);
  -webkit-transform: translate(0, 0) scale(0.85);
  transform: translate(0, 0) scale(0.85);
}
.bubble-22 {
  opacity: 0.81;
  left: 25vw;
  top: 5vh;
  animation: move-22 30.44s infinite;
  -moz-transform: translate(0, 0) scale(0.95);
  -ms-transform: translate(0, 0) scale(0.95);
  -webkit-transform: translate(0, 0) scale(0.95);
  transform: translate(0, 0) scale(0.95);
}
.bubble-23 {
  opacity: 0.83;
  left: 15vw;
  top: 78vh;
  animation: move-23 30.46s infinite;
  -moz-transform: translate(0, 0) scale(1.62);
  -ms-transform: translate(0, 0) scale(1.62);
  -webkit-transform: translate(0, 0) scale(1.62);
  transform: translate(0, 0) scale(1.62);
}
.bubble-24 {
  opacity: 0.74;
  left: 23vw;
  top: 54vh;
  animation: move-24 30.48s infinite;
  -moz-transform: translate(0, 0) scale(1.4);
  -ms-transform: translate(0, 0) scale(1.4);
  -webkit-transform: translate(0, 0) scale(1.4);
  transform: translate(0, 0) scale(1.4);
}
.bubble-25 {
  opacity: 0.49;
  left: 38vw;
  top: 87vh;
  animation: move-25 30.5s infinite;
  -moz-transform: translate(0, 0) scale(1.5);
  -ms-transform: translate(0, 0) scale(1.5);
  -webkit-transform: translate(0, 0) scale(1.5);
  transform: translate(0, 0) scale(1.5);
}
.bubble-26 {
  opacity: 0.08;
  left: 93vw;
  top: 80vh;
  animation: move-26 30.52s infinite;
  -moz-transform: translate(0, 0) scale(0.31);
  -ms-transform: translate(0, 0) scale(0.31);
  -webkit-transform: translate(0, 0) scale(0.31);
  transform: translate(0, 0) scale(0.31);
}
.bubble-27 {
  opacity: 0.63;
  left: 29vw;
  top: 82vh;
  animation: move-27 30.54s infinite;
  -moz-transform: translate(0, 0) scale(0.95);
  -ms-transform: translate(0, 0) scale(0.95);
  -webkit-transform: translate(0, 0) scale(0.95);
  transform: translate(0, 0) scale(0.95);
}
.bubble-28 {
  opacity: 0.01;
  left: 46vw;
  top: 84vh;
  animation: move-28 30.56s infinite;
  -moz-transform: translate(0, 0) scale(1.36);
  -ms-transform: translate(0, 0) scale(1.36);
  -webkit-transform: translate(0, 0) scale(1.36);
  transform: translate(0, 0) scale(1.36);
}
.bubble-29 {
  opacity: 0.44;
  left: 81vw;
  top: 4vh;
  animation: move-29 30.58s infinite;
  -moz-transform: translate(0, 0) scale(0.47);
  -ms-transform: translate(0, 0) scale(0.47);
  -webkit-transform: translate(0, 0) scale(0.47);
  transform: translate(0, 0) scale(0.47);
}
.bubble-30 {
  opacity: 0.58;
  left: 58vw;
  top: 92vh;
  animation: move-30 30.6s infinite;
  -moz-transform: translate(0, 0) scale(1.67);
  -ms-transform: translate(0, 0) scale(1.67);
  -webkit-transform: translate(0, 0) scale(1.67);
  transform: translate(0, 0) scale(1.67);
}

.credits {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 2px 15px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  z-index: 111;
}
.credits a {
  color: #fff;
  font-size: 11px;
  text-decoration: none;
  letter-spacing: 0.05em;
}

@keyframes move-1 {
  52% {
    -moz-transform: translate(-21vw, -97vh);
    -webkit-transform: translate(-21vw, -97vh);
    transform: translate(-21vw, -97vh);
  }
}
@keyframes move-2 {
  57% {
    -moz-transform: translate(0vw, -74vh);
    -webkit-transform: translate(0vw, -74vh);
    transform: translate(0vw, -74vh);
  }
}
@keyframes move-3 {
  37% {
    -moz-transform: translate(0vw, -4vh);
    -webkit-transform: translate(0vw, -4vh);
    transform: translate(0vw, -4vh);
  }
}
@keyframes move-4 {
  43% {
    -moz-transform: translate(-51vw, -11vh);
    -webkit-transform: translate(-51vw, -11vh);
    transform: translate(-51vw, -11vh);
  }
}
@keyframes move-5 {
  45% {
    -moz-transform: translate(-50vw, -21vh);
    -webkit-transform: translate(-50vw, -21vh);
    transform: translate(-50vw, -21vh);
  }
}
@keyframes move-6 {
  51% {
    -moz-transform: translate(-38vw, -9vh);
    -webkit-transform: translate(-38vw, -9vh);
    transform: translate(-38vw, -9vh);
  }
}
@keyframes move-7 {
  47% {
    -moz-transform: translate(-19vw, -43vh);
    -webkit-transform: translate(-19vw, -43vh);
    transform: translate(-19vw, -43vh);
  }
}
@keyframes move-8 {
  48% {
    -moz-transform: translate(-30vw, -90vh);
    -webkit-transform: translate(-30vw, -90vh);
    transform: translate(-30vw, -90vh);
  }
}
@keyframes move-9 {
  58% {
    -moz-transform: translate(-47vw, -28vh);
    -webkit-transform: translate(-47vw, -28vh);
    transform: translate(-47vw, -28vh);
  }
}
@keyframes move-10 {
  54% {
    -moz-transform: translate(-87vw, -55vh);
    -webkit-transform: translate(-87vw, -55vh);
    transform: translate(-87vw, -55vh);
  }
}
@keyframes move-11 {
  45% {
    -moz-transform: translate(-73vw, -57vh);
    -webkit-transform: translate(-73vw, -57vh);
    transform: translate(-73vw, -57vh);
  }
}
@keyframes move-12 {
  40% {
    -moz-transform: translate(-21vw, -36vh);
    -webkit-transform: translate(-21vw, -36vh);
    transform: translate(-21vw, -36vh);
  }
}
@keyframes move-13 {
  42% {
    -moz-transform: translate(-4vw, -25vh);
    -webkit-transform: translate(-4vw, -25vh);
    transform: translate(-4vw, -25vh);
  }
}
@keyframes move-14 {
  35% {
    -moz-transform: translate(-61vw, -49vh);
    -webkit-transform: translate(-61vw, -49vh);
    transform: translate(-61vw, -49vh);
  }
}
@keyframes move-15 {
  52% {
    -moz-transform: translate(-28vw, -4vh);
    -webkit-transform: translate(-28vw, -4vh);
    transform: translate(-28vw, -4vh);
  }
}
@keyframes move-16 {
  35% {
    -moz-transform: translate(-98vw, -12vh);
    -webkit-transform: translate(-98vw, -12vh);
    transform: translate(-98vw, -12vh);
  }
}
@keyframes move-17 {
  39% {
    -moz-transform: translate(-5vw, -76vh);
    -webkit-transform: translate(-5vw, -76vh);
    transform: translate(-5vw, -76vh);
  }
}
@keyframes move-18 {
  36% {
    -moz-transform: translate(-80vw, -16vh);
    -webkit-transform: translate(-80vw, -16vh);
    transform: translate(-80vw, -16vh);
  }
}
@keyframes move-19 {
  42% {
    -moz-transform: translate(-99vw, -95vh);
    -webkit-transform: translate(-99vw, -95vh);
    transform: translate(-99vw, -95vh);
  }
}
@keyframes move-20 {
  49% {
    -moz-transform: translate(-74vw, -48vh);
    -webkit-transform: translate(-74vw, -48vh);
    transform: translate(-74vw, -48vh);
  }
}
@keyframes move-21 {
  48% {
    -moz-transform: translate(-80vw, -9vh);
    -webkit-transform: translate(-80vw, -9vh);
    transform: translate(-80vw, -9vh);
  }
}
@keyframes move-22 {
  55% {
    -moz-transform: translate(-84vw, -59vh);
    -webkit-transform: translate(-84vw, -59vh);
    transform: translate(-84vw, -59vh);
  }
}
@keyframes move-23 {
  32% {
    -moz-transform: translate(-99vw, -29vh);
    -webkit-transform: translate(-99vw, -29vh);
    transform: translate(-99vw, -29vh);
  }
}
@keyframes move-24 {
  56% {
    -moz-transform: translate(-53vw, -68vh);
    -webkit-transform: translate(-53vw, -68vh);
    transform: translate(-53vw, -68vh);
  }
}
@keyframes move-25 {
  47% {
    -moz-transform: translate(-92vw, -29vh);
    -webkit-transform: translate(-92vw, -29vh);
    transform: translate(-92vw, -29vh);
  }
}
@keyframes move-26 {
  56% {
    -moz-transform: translate(-90vw, -92vh);
    -webkit-transform: translate(-90vw, -92vh);
    transform: translate(-90vw, -92vh);
  }
}
@keyframes move-27 {
  49% {
    -moz-transform: translate(-84vw, -78vh);
    -webkit-transform: translate(-84vw, -78vh);
    transform: translate(-84vw, -78vh);
  }
}
@keyframes move-28 {
  40% {
    -moz-transform: translate(-54vw, -20vh);
    -webkit-transform: translate(-54vw, -20vh);
    transform: translate(-54vw, -20vh);
  }
}
@keyframes move-29 {
  34% {
    -moz-transform: translate(-82vw, -12vh);
    -webkit-transform: translate(-82vw, -12vh);
    transform: translate(-82vw, -12vh);
  }
}
@keyframes move-30 {
  37% {
    -moz-transform: translate(-5vw, -72vh);
    -webkit-transform: translate(-5vw, -72vh);
    transform: translate(-5vw, -72vh);
  }
}
