/*
Kevin Pham
Provides style and layout for the MTM Tracker, including for cards with several
different colors.
*/

@import url('https://fonts.googleapis.com/css?family=Beth+Ellen|Red+Hat+Display|Rock+Salt&display=swap');

body {
  font-family: 'Red Hat Display', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #94ffbf;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23009cf7' fill-opacity='0.25' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

header {
  background: linear-gradient(152.82deg, #00CD15 1.31%, rgba(0, 172, 94, 0.905093) 25.78%, rgba(63, 200, 201, 0.840156) 50.26%, rgba(0, 138, 168, 0.757459) 74.73%, rgba(0, 56, 255, 0.67) 99.21%);
  margin: 0;
  padding: 0 0 20px 0;
  height: auto;
}

h1 {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-size: 50pt;
  text-shadow: 5px 3px #AAAAAA, -5px -3px #444444;
}

#filter {
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  text-decoration: none;
  font-style: italic;
  background: linear-gradient(127.41deg, #FFB800 8.91%, #FFD850 23.4%, #FFD850 33.93%, #E4B200 62.47%, #D9A900 93.2%);
  font-weight: 600;
  font-size: 20pt;
  text-align: center;
  font-family: 'Beth Ellen', cursive;
  color: white;
  text-shadow: 0 0 5px black;
}

#filter.selected {
  border: groove 10px white;
  background: white;
}

#card-container {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 10px;
  width: 100%;
  height: auto;
  flex-direction: column;
}

#modal {
  position: fixed;
  z-index: 1;
  padding: 10px;
  left: 5vw;
  top: 10vh;
  width: 90vw;
  height: 80vh;
  overflow: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px rgba(200,200,200,.25);
}

#close {
  background-color: black;
  color: white;
  font-weight: 500;
  padding: 5px;
  position: relative;
  left: 15px;
  top: 10px;
  cursor: pointer;
  font-size: 30pt;
}

#close:hover {
  background-color: rgb(50,50,50);
}

#sold-badge {
  width: 7vw;
  background-color: red;
  color: white;
  font-weight: 500;
  padding: 5px;
  position: relative;
  left: 60vw;
  top: 10px;
  font-size: 30pt;
  display: none;
}

#modal-name {
  font-size: 80pt;
  text-align: center;
}

#modal-img {
  display: block;
  margin: auto;
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
}

#modal-description {
  font-size: 30pt;
}

#modal-bids h3 {
  font-size: 70pt;
  text-shadow: 0 0 20px white;
}

.bid {
  display: flex;
  justify-content: space-around;
}

#bid1 {
  font-size: 60pt;
  font-weight: 600;
}

#bid2, #bid3 {
  font-size: 40pt;
}

#loading {
  position: fixed;
  left: 15vw;
  right: 15vw;
  top: 40vh;
  width: 70vw;
  margin: auto;
}

footer {
  background-color: #878787;
  height: auto;
  padding: 5px;
  margin: 0;
}

footer p {
  font-size: 16pt;
  text-align: center;
}

/*==========Scrollbar==========*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #0047FF 0%, #00FFE0 46.87%, #33FF00 99.99%, rgba(0, 255, 224, 0) 100%);
  border-radius: 5px;
}

/*==========For use with JavaScript==========*/

.card {
  position: relative;
  width: 80%;
  height: auto;
  padding: 10px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px 5px;
  margin-bottom: 20px;
}

.card:nth-child(odd) {
  margin-left: 5%;
}

.card:nth-child(even) {
  margin-left: 10%;
}

.id {
  width: 36pt;
  height: 36pt;
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
  line-height: 36pt;
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 0 2px white;
  padding: auto;
}

.card img {
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  box-shadow: 0 0 0 3px white;
  margin: 10px 0;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
}

.name, .price {
  display: block;
  font-weight: bold;
}

.name {
  font-size: 20pt;
}

.price {
  font-size: 40pt;
}

/*==========Colors==========*/

.color1 {
  box-shadow: 10px 10px #001AFF;
  background-color: #4FAAFF;
}

.color1 .id, .color1 img {
  border: solid 4px #4FAAFF;
}

.color1-modal {
  background: linear-gradient(147.33deg, #0066FF 0%, rgba(132, 196, 255, 0.619718) 38.09%, rgba(28, 255, 241, 0) 57.7%);
}

.color2 {
  box-shadow: 10px 10px #EC7676;
  background-color: #FFA8A8;
}

.color2 .id, .color2 img {
  border: solid 4px #FFA8A8;
}

.color2-modal {
  background: linear-gradient(147.33deg, #FF6565 0%, rgba(255, 198, 132, 0.619718) 26%, rgba(255, 246, 28, 0) 57.7%);
}

.sold {
  background: gray;
  box-shadow: 10px 10px black;
}

.sold img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.sold .id, .sold img {
  border: solid 4px black;
}

.sold-modal {
  background: linear-gradient(180deg, #5C5C5C 0%, rgba(255, 111, 111, 0.37) 100%);
}

.sold-modal #sold-badge {
  display: inline;
}

.super-silent, .super-silent-modal {
  background: linear-gradient(127.41deg, #FFB800 8.91%, #FFD850 23.4%, #FFD850 33.93%, #E4B200 62.47%, #D9A900 93.2%);
  box-shadow: 10px 10px #C99900;
}

.super-silent img {
  border: solid 4px rgba(255, 255, 255, 0);
}

.super-silent .id {
  border: solid 4px #FFB800;
}

.hidden {
  display: none;
}